* {
  margin: 0 !important;
}

.zinc-atom {
  height: 100vh;
  background-color: #343a40;
  overflow: hidden;
}

.zinc-atom__inner {
  height: 700px;
  width: 700px;
  background-color: rgba(81, 45, 109, 0.5);
  border-radius: 50%;
  position: relative;
}

.nucleus {
  font-size: 20px;
  font-weight: 500;
}

.atom {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.atom-orbit {
  position: absolute;
  width: 70%;
  height: 70%;
  transform-style: preserve-3d;
  border: 4px solid transparent;
}

.atom-orbit--visible {
  border-radius: 50%;
  border-color: #fff;
}

.atom-orbit--1.atom-orbit--visible {
  transform: rotateZ(0) rotateY(73deg);
}

.atom-orbit--1.atom-orbit--foreground {
  transform: rotateZ(0) rotateY(73deg);
}

.atom-orbit--2.atom-orbit--visible {
  transform: rotateZ(-60deg) rotateY(73deg);
}

.atom-orbit--2.atom-orbit--foreground {
  transform: rotateZ(-60deg) rotateY(73deg);
}

.atom-orbit--3.atom-orbit--visible {
  transform: rotateZ(60deg) rotateY(73deg);
}

.atom-orbit--3.atom-orbit--foreground {
  transform: rotateZ(60deg) rotateY(73deg);
}

.atom-orbit--1 .atom-electron::before,
.atom-orbit--1 .atom-electron::after {
  transform: rotateZ(0) rotateY(-73deg);
}

.atom-orbit--2 .atom-electron::before,
.atom-orbit--2 .atom-electron::after {
  transform: rotateZ(0) rotateY(-73deg);
}

.atom-orbit--3 .atom-electron::before,
.atom-orbit--3 .atom-electron::after {
  transform: rotateZ(0) rotateY(-73deg);
}

.atom-orbit--1 .atom-electron::before,
.atom-orbit--2 .atom-electron::before,
.atom-orbit--3 .atom-electron::before {
  background-image: linear-gradient(
    to right bottom,
    #ffc107,
    #fdd047,
    #fcdd6e,
    #fde993,
    #fff5b7
  );
}

.atom-text {
  color: #fff;
  font-size: 32px;
  position: absolute;
}

.atom-orbit--1 .atom-text--top {
  left: 50%;
  top: -15%;
  transform: translateX(-50%);
}

.atom-orbit--1 .atom-text--bottom {
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
}

.atom-orbit-text--2 {
  transform: rotate(-60deg);
}

.atom-orbit--2 .atom-text--top {
  left: 50%;
  top: -15%;
  transform: translateX(-50%);
}

.atom-orbit--2 .atom-text--bottom {
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
}

.atom-orbit-text--3 {
  transform: rotate(60deg);
}

.atom-orbit--3 .atom-text--top {
  left: 50%;
  top: -15%;
  transform: translateX(-50%);
}

.atom-orbit--3 .atom-text--bottom {
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
}

.atom-electron {
  transform-style: preserve-3d;
}

.atom-electron::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 245px;
  left: 245px;
  margin-top: -15px;
  margin-left: -15px;
}

.atom-orbit--1 .atom-electron,
.atom-orbit--2 .atom-electron,
.atom-orbit--3 .atom-electron {
  animation: rotate-right 5s linear infinite;
}

@keyframes rotate-right {
  from {
    transform: rotate(0deg) translate(-50%) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-50%) rotate(-360deg);
  }
}

@media (max-width: 992px) {
  .zinc-atom__inner {
    height: 500px;
    width: 500px;
  }

  .atom-electron::before {
    top: 175px;
    left: 175px;
  }
}

@media (max-width: 768px) {
  .atom-text {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .zinc-atom__inner {
    height: 300px;
    width: 300px;
  }

  .atom-electron::before {
    top: 105px;
    left: 105px;
    width: 14px;
    height: 14px;
  }

  .atom-text {
    font-size: 13px;
  }

  .nucleus {
    font-size: 10px;
  }
}
